/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	https://themeforest.net/item/modern-admin-clean-bootstrap-4-dashboard-html-template/21430660
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0px;
}
.select2-container--classic .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    min-height: 40px !important;
    padding: 0 !important;
    border: 1px solid #cacfe7 !important;
    color: #3b4781 !important;
    padding-top: 3px !important;
    padding-left: 6px !important;
}

.supervisor-form-box img {
    width: 100px;
    margin-right: 15px;
}
.scroll-model-wrapper {
    height: 400px;
    overflow-y: scroll;
}
form.supervisor-form-box:hover {
    transform: scale(1.05);
}
form.supervisor-form-box {
    width: 100%;
    transition: all 0.4s ease;
}
.badge-approved {
    background-color: #28D094;
}
.badge-pending {
    background-color: #FF9149;
}
.badge-newkamay {
    background-color: #666EE8;
}
.supervisor-form-box .align-self-center img {
    border: 2px solid #d6bc1a !important;
    object-fit: cover !important;
    box-shadow: 0px 1px 15px 1px rgb(44 44 44 / 38%);
}
.supervisor-form-box h4 {
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
    display: flex;
    border-bottom: 2px solid #d6bc1a;
}
.supervisor-form-box h5 {
    font-weight: 600;
    margin-bottom: 2px;
    font-size: 14px;
    margin-top: 2px;
    border-bottom: 1px solid #d6bc1a;
    padding-bottom: 2px;
}

.supervisor-form-box h5 span {
    font-weight: normal;
}
.supervisor-form-box .btn.btn-primary{
    display: block;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    text-align: CENTER;
    margin-top: 30px;
}
.request-order-col ul.pagination{
    text-align: center;
    display: FLEX;
    align-items: CENTER;
    justify-content: CENTER;
}
.request-order-left {
    border-bottom: 2px dashed #2c303b;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.alert ul {
    margin-bottom: 0px;
    padding-left: 20px;
}
input.form-control.browse.btn {
    padding: 7.5px;
}
span.index-number {
    width: 40px;
    height: 40px;
    background-color: #28D094;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}
img.users-avatar-shadow.rounded-circle {
    object-fit: cover;
}
.card-body h5 i {
    position: relative;
    top: 1px;
}
.supervisor-form-box-white{
    box-shadow: 0px 0px 3px #00000082;
    border-radius: 5px;
}
.dropdown-notification .media{
    width: 100%;
}
.header-navbar .navbar-container ul.nav li .scrollable-container {
    overflow-y: scroll;
}
html {
    scroll-behavior: smooth;
}
.brl-0{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.brr-0{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
span.remove {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 0px 4px;
    font-size: 14px;
    float: right;
}
.form-group > .select2-container{
    width: 100% !important;
}
fieldset.radio label {
    font-size: 15px;
}
ul.service {
    padding-left: 0px;
    list-style: none;
}
ul.service li {
    margin-right: 15px;
}
ul.service {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    color: black;
}

.highlight {
    padding:1px 4px;
    margin:0 -4px;
}

.skin.skin-square fieldset {
    margin-top: 8px;
}